/2. Pruebas y ejercicios/Prueba1/nbproject/private/
/2. Pruebas y ejercicios/Prueba1/build/
/2. Pruebas y ejercicios/Prueba2/nbproject/private/
/2. Pruebas y ejercicios/Prueba2/build/
/2. Pruebas y ejercicios/Prueba2/dist/
/2. Pruebas y ejercicios/Rectangulo/nbproject/private/
/2. Pruebas y ejercicios/Prueba3/nbproject/private/
/2. Pruebas y ejercicios/Prueba3/build/
/2. Pruebas y ejercicios/Prueba4/nbproject/private/
/2. Pruebas y ejercicios/Prueba4/build/
/2. Pruebas y ejercicios/Prueba5/nbproject/private/
/2. Pruebas y ejercicios/Prueba5/build/
/2. Pruebas y ejercicios/Prueba5/dist/
/2. Pruebas y ejercicios/Prueba6/nbproject/private/
/2. Pruebas y ejercicios/Prueba7/nbproject/private/
/2. Pruebas y ejercicios/Prueba7/dist/
/2. Pruebas y ejercicios/Prueba7/build/
/2. Pruebas y ejercicios/Prueba8/nbproject/private/
/2. Pruebas y ejercicios/Prueba8/build/
/2. Pruebas y ejercicios/Prueba8/dist/
/2. Pruebas y ejercicios/Prueba9/nbproject/private/
/2. Pruebas y ejercicios/Prueba9/build/
/2. Pruebas y ejercicios/Prueba9/dist/
/2. Pruebas y ejercicios/Prueba10/nbproject/private/
/2. Pruebas y ejercicios/Prueba10/build/
/2. Pruebas y ejercicios/Prueba10/dist/
/2. Pruebas y ejercicios/Prueba11/nbproject/private/
/2. Pruebas y ejercicios/Prueba11/build/
/2. Pruebas y ejercicios/Prueba11/dist/
/2. Pruebas y ejercicios/Prueba12/nbproject/private/
/2. Pruebas y ejercicios/Prueba12/build/
/2. Pruebas y ejercicios/Prueba12/dist/
/2. Pruebas y ejercicios/Prueba13/nbproject/private/
/2. Pruebas y ejercicios/Prueba13/build/
/2. Pruebas y ejercicios/Prueba13/dist/
/2. Pruebas y ejercicios/Prueba14/nbproject/private/
/2. Pruebas y ejercicios/Prueba14/build/
/2. Pruebas y ejercicios/Prueba14/dist/
/2. Pruebas y ejercicios/Prueba15/nbproject/private/
/2. Pruebas y ejercicios/Prueba15/build/
/2. Pruebas y ejercicios/Prueba16/nbproject/private/
/2. Pruebas y ejercicios/Prueba16/build/
/2. Pruebas y ejercicios/Prueba16/dist/
/2. Pruebas y ejercicios/Prueba17/nbproject/private/
/2. Pruebas y ejercicios/Prueba17/build/
/2. Pruebas y ejercicios/Prueba17/dist/
/2. Pruebas y ejercicios/Prueba18/nbproject/private/
/2. Pruebas y ejercicios/Prueba18/build/
/2. Pruebas y ejercicios/Prueba18/dist/
/2. Pruebas y ejercicios/Prueba19/nbproject/private/
/2. Pruebas y ejercicios/Prueba19/dist/
/2. Pruebas y ejercicios/Prueba19/build/
/2. Pruebas y ejercicios/Prueba20/nbproject/private/
/2. Pruebas y ejercicios/Prueba20/build/
/2. Pruebas y ejercicios/Prueba20/dist/
