/2. Pruebas y ejercicios/Prueba1/nbproject/private/
/2. Pruebas y ejercicios/Prueba1/build/
/2. Pruebas y ejercicios/Prueba2/nbproject/private/
/2. Pruebas y ejercicios/Prueba2/build/
/2. Pruebas y ejercicios/Prueba2/dist/
/2. Pruebas y ejercicios/Rectangulo/nbproject/private/
/2. Pruebas y ejercicios/Prueba3/nbproject/private/
/2. Pruebas y ejercicios/Prueba3/build/
/2. Pruebas y ejercicios/Prueba4/nbproject/private/
/2. Pruebas y ejercicios/Prueba4/build/
/2. Pruebas y ejercicios/Prueba5/nbproject/private/
/2. Pruebas y ejercicios/Prueba5/build/
/2. Pruebas y ejercicios/Prueba5/dist/
/2. Pruebas y ejercicios/Prueba6/nbproject/private/
/2. Pruebas y ejercicios/Prueba7/nbproject/private/
/2. Pruebas y ejercicios/Prueba7/dist/
/2. Pruebas y ejercicios/Prueba7/build/
/2. Pruebas y ejercicios/Prueba8/nbproject/private/
/2. Pruebas y ejercicios/Prueba8/build/
/2. Pruebas y ejercicios/Prueba8/dist/
/2. Pruebas y ejercicios/Prueba9/nbproject/private/
/2. Pruebas y ejercicios/Prueba9/build/
/2. Pruebas y ejercicios/Prueba9/dist/
